<h1>About Me</h1>
<br>
<br>
<p>
    You probably navigated here because you want to know <i>why</i> you should hire me, right?
    <br>
    <br> Well, I'm going to give you the real reason why you should.
    <br>
    <br> If you found yourself here, but not for hiring purposes, I'm still going to tell you why you should.
    <br>
    <br> If you don't like long stories and only like to skim read for the facts, I'm still going to tell you why you should, but I want you to know that I made my main points bold just for you.
    <br>
    <br> For a long time, I struggled with bios because what I read from others were mainly boastful accomplishments. 'Why don't I feel boastful about mine? I've accomplished a lot,' I asked. What does a good bio contain?
    <br>
    <br> <b>I realized, it's not that I can't boast, but that I'd rather my accomplishments brandish themselves.</b> I now understand it's also because I have so much that I want to learn that I'm humbled by how far I have to go to in my chosen career. I just don't feel like now is a time for me to stop and make a lot out of what I've done. I'm more excited about looking forward.
    <br>
    <br> <b>I decided to set upon the path towards being a developer only recently, not knowing that I was always being led to it.</b> Every job I transitioned to, became increasingly more technological. Even now, I'm amazed at how much the jobs I worked outside of the computer/information industry have been training me all along towards a position as a full-stack developer.
    <br>
    <br> I was learning how to prioritize tasks while working in a fast-paced environment with my first job as a cashier. Little did I know, I was improving information systems when I took it upon myself to categorize the messy stockroom I inherited as a sales lead. I honestly had no idea while working at Verizon, that committing daily to researching competitor rates and keeping up-to-date about the specifications of new phones on the market was displaying my dedication to my continual education in the field. At the time, I didn't know selecting and utilizing a set of apps for my job as an account manager was just like a developer using a stack.
    <br>
    <br> It was actions like these above that trained me able to create and prioritize backlogs, improve and upgrade legacy systems, actively pursue an education in developing and information science, and research and test-out new tools for my trade.<b> I enjoyed each of my jobs for the challenges that I had learned overcome, and now I think back on them much more fondly as I remember the important skills I've harnessed from each.</b>
    <br>
    <br> <b>Are you convinced yet? If not, and you're still not quite sure if I can handle the pressure of being a full-stack developer, please rest assure, I can. However, if you are you can stop here. </b>
    <br>
    <br> Why am I so sure? In 2012, my son was diagnosed at the age of one with a rare form of Leukemia, Acute Myeloid Leukemia - subtype Mb5. His intense cancer treatment forced us to live in the hospital for six months. Four months after he was released, his doctor realized during his check-up that his speech was not developing. Cognitively, he was smart as a whip, but he couldn't talk.
    <br>
    <br> Eventually, he was diagnosed with autism. A year ago, he spoke his first sentence, and now he's reading at the age of four. Why is this relevant? Because I never stopped progressing. Eventhough I was hit with two of the worst of outcomes in parenting ontop of being a single-parent, I stayed in school. I didn't give up on him, <b>and most importantly, I didn't give up on myself.</b> 
    <br> 
    <br> To be honest, it was hard to see the end of the road when my son was having meltdowns and banging his head against the wall because he couldn't communicate with me, but I decided early, that I would treat him no different than any other child, so I didn't give up.
    <br>
    <br> I did research. I tried things. I came up with solutions to guide him and help him. I taught him how to help himself, to enjoy learning, and to solve problems. I joined groups so that I could ask and answer questions and share my experiences. I turned to experts. I purchased books. I did everything I could to advance my son. And at the same time, I ended up advancing myself along with him.
    <br>
    <br> While I initially thought, I was putting my career on a backburner to tend to my child, again I realized, <b>I was reinforcing the qualities I had that were essential towards being a great developer.</b> Those are all the qualities you need in someone whose job it is to advance programs. <b>These experiences have given me the discipline and dilligence to practice code for hours a day.</b> It has given me the optimism and strength to lead others. It has made me better at voicing my opinion and valuing opinions from others.
    <br> 
    <br> <b>If I should be hired, I don't want it to be based off of what I know or accomplished, or claim to know, but for the qualities I have and can demonstrate that will push me far along in my career and life.</b>
    <br>
    <br> This bio ended up being longer than I expected it to be, but I think I've made my point now.
    <br>
    <br> - Omie
</p>