<ul class="nav nav-tabs">
    <li class="active"><a class="profile-tabs" data-toggle="tab">Summary</a></li>
    <li><a class="profile-tabs" data-toggle="tab">Tutorials</a></li>
    <li><a class="profile-tabs" data-toggle="tab">Projects</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle profile-tabs" data-toggle="dropdown">Courses 
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="profile-tabs" data-toggle="tab">2014</a>
                <li><a class="profile-tabs" data-toggle="tab">2015</a>
                    <li><a class="profile-tabs" data-toggle="tab">2016</a>
        </ul>
        </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="summary">
        <!-- -->
        <div class="alert alert-danger">Education</div>
        <div id="tutorials-summary">
            <div class="alert alert-success portfolio-alerts" id="treehouse-alert">
                <h3>Treehouse</h3>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
            <div class="alert alert-warning portfolio-alerts" id="lynda-alert">
                <h3>Lynda</h3>
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
            </div>
        </div>

        <div class="jumbotron" id="uwm-jumbo">
            <h3>University of Wisconsin</h3>
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
                <div class="alert alert-info">Projects</div>
        <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Project</th>
      <th>Course</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td>1</td>
      <td>Playlist App</td>
      <td>Treehouse</td>
      <td>Playlist navigation interface using JavaScript</td>
    </tr>
    <tr class="active">
      <td>2</td>
      <td>Bank Statement App</td>
      <td>Side project</td>
      <td>Statement calculator/simulator for interest-bearing accounts created with user-input values</td>
    </tr>
    <tr class="success">
      <td>3</td>
      <td>Quiz App</td>
      <td>Treehouse</td>
      <td>Quiz that keeps track of progress and shows totals at the end</td>
    </tr>
    <tr class="warning">
      <td>4</td>
      <td>Registration/Login App</td>
      <td>Lynda.com</td>
      <td>Uses AngularJS to form a user registration template</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Event Planning App</td>
      <td>Laracasts</td>
      <td>App for a fictional DJing/event-planning business with client and business-side operations</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Home Service Brokerage App</td>
      <td>Lynda</td>
      <td>App designed to manage a book of clients and keep track of payments</td>
    </tr>
    <tr class="info">
      <td>7</td>
      <td>Single-page Blog</td>
      <td>AngularJS</td>
      <td>Remodel Web Blog/Portfolio into a single-page app that cuts down on bandwidth and uses a design framework with interchangeable themes</td>
    </tr>
      <tr>
      <td>8</td>
      <td>Web Blog/Portfolio</td>
      <td>Side Project</td>
      <td>My own personal website with blog and portfolio page</td>
    </tr>
      <tr class="success">
      <td>9</td>
      <td>To-Do App</td>
      <td>Treehouse</td>
      <td>App that lists/dds/updates/deletes tasks</td>
    </tr>
  </tbody>
</table> 
    </div>
    <div class="tab-pane fade" id="tutorials">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
    <div class="tab-pane fade" id="projects">
        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
    </div>
    <div class="tab-pane fade" id="2014">
        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
    </div>
    <div class="tab-pane fade" id="2015">
        <p>2015 Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
    </div>
    <div class="tab-pane fade" id="2016">
        <p>2016 Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
    </div>
</div>
<script>
    $(".profile-tabs").click(function () {
        var $tabText = $(this).text().toLowerCase();
        console.log($tabText);
        $id = "#" + $tabText;
        console.log($id);
        $($id).addClass("active in");
        $($id).siblings().removeClass("active in");
    });
</script>